html {
  background: #eee;
}

.topDiv {
  align-items: center;
}

#topDiv {
  display: flex;
  justify-content: center;
  align-items: center;
}

#coinDiv {
  background-color: #9f9e9e;
  width: 15vmax;
  height: 15vmax;
  position: absolute;
  top: 30%;
  display: table;
  border: 2px solid black;
  border-radius: 50%;
  transition: all 0.3s ease-in-out;
}

#coin {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  height: 200px;
}

.stats i {
  position: fixed;
  padding: 5px;
  border: 2px solid black;
  border-radius: 50%;
  margin: 5px;
  margin-right: 10px;
  bottom: 0;
  right: 0;
  opacity: 0.2;
}

#chartDiv {
  position: absolute;
  right: 15px;
  bottom: 13px;
  text-align: center;
  display: none;
}

#times {
  width: 105px;
}
